<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/home/star.css" rel="stylesheet">
    <link href="/css/member/login.css" rel="stylesheet">
    <script src="/js/member/login.js" defer></script>
    <script src="/js/home/background.js" defer></script>
</head>
<body>
    <div class="backSky">
        <svg class="sky"></svg>
    </div>
    <main id="main-holder">
        <a href="/main"><img src="img/logo_main.png" style="height:70px"></a>
        <form id="login-form" action="/doLogin" method="post">
            <div id="login-box">
                <input type="text"  class="login-form-field" id="memberId" name="memberId" placeholder="Id">
                <input type="password"  class="login-form-field" id="memberPwd" name="memberPwd" placeholder="Pwd">
            </div>
            <input type="submit" value="Login" id="login-form-submit">
        </form>
        <div class="login-subBox">
            <div class="login-subBox1">
                이메일 저장
            </div>
            <div class="login-subBox2">
                <div class="findId"><a href="/findIdForm">아이디 찾기</a></div>
                <div class="findPwd"><a href="/findPwdForm">비밀번호 찾기</a></div>
                <div class="join"><a href="/joinForm">회원가입</a></div>
            </div>
            <div class="login-subBox3">
                <div class="login-kakaoTalk">카카오톡 로그인</div>
                <div class="login-google">구글 로그인</div>
            </div>
        </div>
        <div class="reserved">
            @Planetime Corp. All rights.reserved.
        </div>
    </main>
</body>
</html>