<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div class="search-bar" th:fragment="searchBar">
        <div class="search-container">
            <div class="inner">
                <input class="search-input" type="search">
                <div class="searching">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="icon-ect">
                    <i class="fas fa-keyboard"></i>
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

