.box {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius : 6px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 30px;
}

.col {
    width: 2%;
    height: 30px;
    cursor: pointer;
    display: grid;
}

.menu-list {
    overflow: scroll;
    overflow-x: hidden;
    margin-right: -1%;
    width: 250px;
    background-color: gray;
    opacity: 1;
    transition: height 0.5s ease;
    border-radius: 30px;
    height: 0px;
    margin-top: 67%;
}

.menu-item {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background:white;
}

.menu-col {
    display: flex;
    flex-direction: column;
}
.menu-row {
    display: flex;
    justify-content: space-evenly;
}

.menu-bar {
        width: 2%;
        position: relative;
        margin-right: 1%;
}

