* {
    margin: 0;
    padding: 0;
}

/* 배경 */
.backSky {
    position:relative;
    z-index:1;
    background: linear-gradient(to right, #111, #080D19);
    overflow: hidden;
}

/* 별을 감싼 부모 */
.sky {
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveStar 240s linear infinite;
}

/* 별 */
.sky .star {
    fill: #fff;
    stroke: none;
    stroke-width: 0;
}

/* 별 이동효과 */
@keyframes moveStar {
  from {
    transform: translate(-50%, -50%) rotate(0)
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg)
  }
}